#viz-container {
    width: 1000px;
    border: solid black 1px;
    margin: 0 auto;
}

svg {
    border: solid black 1px;
}

#layer-admin1 path {
    fill: none;
    stroke: black;
}

#layer-urban_areas path {
    fill: orange;
}

#layer-polygons path {
    opacity: .5;
    fill: blue;
}

#layer-edges path {
    stroke: black;
    stroke-weight: 1px;
}

#layer-nodes path {
    fill: red;
    cursor: pointer;
}