#viz-container {
    width: 1000px;
    border: solid black 1px;
    margin: 0 auto;
}

svg {
    border: solid black 1px;
}

#layer-admin1 path {
    fill: none;
    stroke: black;
}

#layer-urban_areas path {
    fill: orange;
}

.watershed-view {
    opacity: .5;
    fill: blue;
}

.watershed-view.active {
    fill: green;
}

.edge-view {
    stroke: black;
    stroke-weight: 1px;
}

.edge-view.active {
    stroke: red;
}

.node-view {
    fill: red;
    cursor: pointer;
}

.node-view.active {
    fill: yellow;
}