g.ne_10m_admin_1_states_provinces_shp path {
    fill: none;
    stroke: black;
}

g.ne_10m_urban_areas path {
    fill: orange;
}

g.polygons path {
    opacity: .5;
    fill: blue;
}

g.edges path {

}

g.nodes path {
    fill: red;
}